<h2>Edit <%= @shelter.name %></h2>

<%= render partial: "form", locals: {path: "/shelters/#{@shelter.id}",
                                    method_type: :patch,
                                    button_text: 'Update Shelter',
                                    model: @shelter}%>
