<h1>Shelters</h1>
<% @shelters.each do |shelter| %>
    <p><%= shelter.name %></p>
<% end %>
<section id="section-pending">
  <h3>Shelters with Pending Applications</h3>
  <% @pending_shelters.each do |shelter| %>
    <%= shelter.name %></br>
  <% end %>
</section>
